*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration:none;
}
.container{
    width:100%;
    height:100vh;
    background-color:#f9f9f9;
    display:flex;
    justify-content:center;
    align-items: center;

}
.container::before{
    content:'';
    position:absolute;
    height:100%;
    width:50%;
    top:0;
    left:0;
    background-color:#ff9dcf;
}
.container .hero{
    position:relative;
    z-index:10;
    height:85vh;
    width:75%;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(250px);
    border:3px solid#ff9dcf;
    border-radius:20px;
    box-shadow: -15px 17px rgba(10,10,10,0.15);
    padding: 0 40px 0 80px;
}
.hero nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
    width:100%;

}
.hero nav .logo{
    color:#801f82;
    font-size:60px;
    font-weight:bold;
    margin-top :30px;
}
.hero nav .nav-links a{
   color:#242424;
   margin-left:40px;
   text-transform:capitalize;
   transition: 0.3s;

}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color:#801f82;
}
.hero .content{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.hero .content .div-text{
    width:40%;
}
.hero .content .div-text h1{
   
    font-size:45px;
    color:#242424;
    margin-top:-40px;
  
}
.hero .content .div-text h2{
    color:#801f82;
    font-size:24px;
    margin-top:5px;
}
.hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom:50px;
    font-size:18px;
    font-weight: bold;
}
.hero .content .div-text .btn{
   padding:15px 20px;
   background-color:#801f82;
   border:2px solid #801f82;
   color:#fff;
   border-radius:5px;
   font-weight:bold;


}
.hero .content .div-text .btn:hover{
    color:#801f82;
    transition:0.3s;
    background-color:transparent;
}
 .hero .content .div-img{
    width:40%;
    height: auto;
    max-width: 100%;
    margin-bottom: 100px;
    padding-right: 60px;
    padding-top:70px ;

}
.soc-link{
   position:absolute; 
   top:85%;
   transform:tanslateY(-50%);
   display:flex;
   margin-left: 40px;
   
   
}
.soc-link a i{
    font-size:30px;
    cursor:pointer;
    color:#801f82;
    margin-bottom:20px;
    transition:0.4s;
}
.soc-link a i:hover{
    color:#ff9dcf;
}
.hero .content .div-img{
    width:40%;

}
.hero .content .div-img img{
    width:100%;
}
/* animation*/

.hero .logo,
.hero .content .div-text h1,
.hero .content .div.text h2,
.hero .content .div-text .btn{
    position:relative;
    top:50px;
    animation: slide-top .5s linear forwards;
    opacity:0;

}
.hero .logo{
    animation-delay:0.2;
}
.hero .content .div-text h1{
    animation-delay:0.5s;
}
.hero .content .div-text h4{
    animation-delay:0.2;
}
.hero .content .div-text .btn{
    animation-delay:1.8s;
}
@keyframes slide-top{
    0%{
        top:50px;
        opacity:0;
    }
    100%{
        top:0;
        opacity:1;
    }
}
.hero .content .div-text p{
    position:relative;
    left:100px;
    animation:slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity:0;
}
@keyframes slide-right{
    0%{
        left:100px;
        opacity:0;
    }
    100%{
        left:0;
        opacity:1;
    }
}
.hero .content .div-img img{
    opacity:0;
    transform:scale(0.8);
    animation:fade-img .5s linear forwards;
    animation-delay:2.1s;
}
@keyframes fade-img{
    0%{
        opacity:0;
        transform:scale(0.8);
     }
     100%{
        opacity:1;
        transform:scale(1);
     }
}
.about{
    background-color:#ff9dcf;
    width:100%;
    padding:100px 0px;
   
}
.about-img{
    height:auto;
   width: 430px;

}
.about-text{
    width:550px;
}
.main{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    display:flex;
   align-items:center;
   justify-content:space-around;
   
}
.about-text h3{
    color:#801f82;
    font-size:75px;
    text-transform:capitalize;
    margin-bottom:20px ;
}
.about-text h5{
    color:darkmagenta;
    letter-spacing:2px;
    font-size:22px;
    text-transform:capitalize;
    margin-bottom:25px ;
}
.about-text p{
    color:#242424;
    letter-spacing:1px;
    line-height:28px;
    font-size:19px;
    margin-bottom:45px;
}
button{
    background-color: #801f82;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    font-size: 18px;
    padding: 13px 30px;
    border-radius:30px;
    transition:.4s;
}
button:hover{
    background-color: transparent;
    border:2px solid  #801f82;
    cursor: pointer;
}

.Contact-me{
    width:100%;
    height:290px;
    background:darkmagenta;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.Contact-me p{
    color:aliceblue;
    font-size:30px;
    font-weight:bold;
    margin-bottom:25px;

}
.Contact-me .button-two{
    background-color:#ff9dcf;
    color:#242424;
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding :13px 30px;
    border-radius:30px;
    transition: .4s;
}
.Contact-me .button-two:hover{
    background-color:transparent;
    border:2px solid #801f82;
    cursor: pointer;
}
.social {

 display:flex;

}
.social a{
    width:45px;
    height:45px;
    display: flex;
    align-items:center;
    justify-content:center;
    background:#ff9dcf;
    border-radius:50%;
    margin:20px 10px;
    
    text-decoration:none;
    font-size:20px;
    
}
.social a:hover{
    transform:scale(1.3);
    transition:3s;

}
